.cityHistory{
background-color: rgb(244, 246, 248);
font-size:16px;
color:rgb(59, 59, 59);
border:1px solid white;

}
h1 {
    text-align: center;
}
.lead {
    text-align: center;
}
.jumbotron{
    background-color:rgb(52, 52, 54);
    color:white;
}
#history{
    margin-top: 20px;

}
#forecast{
  font-size: small;
  
}